.wp-list-table .column-note_img_ID { width: 10%; }
.wp-list-table .column-note_author { width: 15%; }
.wp-list-table .column-note_top { width: 4%; }
.wp-list-table .column-note_left { width: 4%; }
.wp-list-table .column-note_width { width: 4%; }
.wp-list-table .column-note_height { width: 4%; }
.wp-list-table .column-note_text { width: 25%; }